
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    background-color: rgb(242, 242, 242);
}

a{
    color: black;
}

h2,.tit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

p{
    color: rgb(2, 172, 93);
}